.sidebarArea {
  flex-shrink: 0;
  width: 260px;
}
.sidenav-bg:hover {
  background-color: #f8f9fa;
  border-radius: 0.3rem;
}

@media (max-width: 991px) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
    margin-left: -260px;
    transition: 0.2s ease-in;
  }
  .sidebarArea.showSidebar {
    margin-left: 0px;
  }
}

.Sidebar-menu > a > div {  
  border-radius: 5px !important;
  transition-duration: 0.3s;
}

.Sidebar-menu > a > div.active {
  background: #f2f2f2;
}

.Sidebar-menu > a > div:hover {
  border-left: 4px solid #e89188;
  cursor: pointer;
}
.Sidebar-active {
  border-left: 4px solid #e89188;
}
.SidebarLink > div:first-child {
  display: flex;
  align-items: center;
}
.SidebarLabel {
  margin-left: 10px;
}
.DropdownLink {
  background: #e8918857;
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.DropdownLink:hover {
  background: #e89188;
  cursor: pointer;
  color: #fff;
}

.transition-all {
  transition-delay: 1s;
}

.css-1uzmcsd {
  padding: 10px 0px !important;  
}

.deactive {
  /* transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); */
  transition: top 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.border-l-4 {
  border-left: 4px solid #e89188 !important;
}

.padding-left {  
  padding-left: 35px !important;
}



.sidebar {
  width: 250px;
  height: 100%;
  background-color: #fff;
  color: #333;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.menu-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #555;
}