@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth !important;
}

html:not([data-scroll="0"]) .basic-header {
  
  width: 100%;
  background-color: white;
  background-blend-mode: overlay;
  opacity: 1.9;
  
  transition: 0.4s linear;
  z-index: 3;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #000;
}
header {
  background: #fff !important;
}
font {
  letter-spacing: 0;
}
input {
  font-size: 16px;
  padding:0px 10px;
 
}
.email-wrap {
  display: flex;
  width: 450px;
  border: 1.7px solid #000;
  border-radius: 3px;
}
.email-wrap input {
  flex: 1;
  padding: 15px 10px;
  font-size: 14px;
  border: none;
  outline: none;
}
.email-wrap button {
  padding-right: 10px;
  background-color: #fff;
  cursor: pointer;
  cursor: hand;
}
.email-wrap button span {
  margin-left: 50px;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #e88c87;
  border-radius: 3px;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.py-2px {
  padding: 12px 0px !important;
}
.border-b-border {
  border-bottom:1px solid #cecece;
}
.rotate-1 {
  transform: rotate(-7deg);
}

.mui-style-13cymwt-control, .mui-style-t3ipsp-control  {
  height: 3rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #ced4da40 !important;
  border: 0 !important;  
  align-items: center !important;
}
.mui-style-qbdosj-Input:focus, .mui-style-t3ipsp-control:focus  {
  outline: none;
}
.cricle {
  width: 1.5em;
  height: 1.5em;
  text-align:center;
  font-size:12px;
  display: inline-block !important;
  color: #E88C87 !important;
  border: 1px solid #E88C87 !important;
  border-radius: 100px !important;
}


.mui-style-vnkopk-MuiStepLabel-iconContainer {
  /* -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: block !important;
  padding-right: 8px;
}
.mui-style-dnt8r5-MuiSvgIcon-root-MuiStepIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  display: block;
  -webkit-transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgba(0, 0, 0, 0.38);
}
.mui-style-1kdffsf-MuiStepIcon-text {
  fill: #ffffff;
  font-size: 0.75rem;
  font-family: 'Noto Sans JP',sans-serif;
}
.text-mui {
  fill: #E88C87 !important;
}
.cricle-mui {
  width: 0.75em !important;
  height: 0.75em !important;
  fill: #FFF !important;
  color: #FFF !important;
  border: 1px solid #E88C87 !important;
  border-radius: 100px !important;
}
.circle-no {
  background-color: #FFF;
    color: #E88C87;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #E88C87;
    transition: 400ms ease;
    font-size: 14px;
    margin-right: 7px;
  }
  .table-head > tr > th:first-child {
    width: 20%;
  }
  .table-head-2 > tr > th:first-child{
    width: 25%;
  }

  .table-head-50 > tr > th:first-child{
    width: 75%;
  }

  .table-head-50 > tr > th:last-child{
    width: 15%;
  }


  .excel-pdf, .excel-pdf:hover {
    background:#5D87FF;
    color: #FFF;
    padding: 7px;
    border-radius: 3px;
  }
  